@import "variables";
@import "global";

.theme {
  --primary__color: #{$primary__color};
  --secundary__color: #{$secundary__color};
  --third__color: #{$third__color};
  --font-main__color: #{$font-main__color};
  --font-secundary__color: #{$font-secundary__color};
  --font__white-color: #{$font__white};
  --border__color: #{rgba($font-main__color, 0.2)};
  --placeholder__color: #{rgba($font-main__color, 0.5)};
  // Modo oscuro con scss y variables de css
  &--dark {
    --primary__color: #{$primary__color--dark};
    --font-main__color: #{$font-main__color--dark};
    --font-secundary__color: #{$font-secundary__color--dark};
    --font__white-color: #{$font__white--dark};
  }
}

body {
  font-family: $font__family;
  font-size: 16px;
  min-height: 100vh;
  background: url("../images/bg-intro-desktop.png");
  background-color: var(--primary__color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10rem;
  gap: 3rem;
}
.context {
  color: var(--font__white-color);
  &__title {
    margin-bottom: 0.75rem;
  }
}
.main{
  width: 100%;
  min-width: 550px;
}

.sale {
  position: relative;
  width: 100%;
  background-color: var(--third__color);
  color: var(--font__white-color);
  text-align: center;
  padding: 0.75rem;
  border-radius: $border-radius;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
  &::after {
    @extend %box-shadow;
  }
}

.form {
  position: relative;
  width: 100%;
  padding: 2rem;
  background-color: var(--font__white-color);
  border-radius: $border-radius;
  &::after {
    @extend %box-shadow;
  }
  &__input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    border: 1px solid var(--border__color);
    font-family: $font__family;
    font-weight: 600;
    &:focus {
      border: 1px solid var(--third__color);
      outline: 0;
    }
    &::placeholder {
      color: var(--placeholder__color);
      
    }
    &--submit {
      position: relative;
      text-transform: uppercase;
      color: var(--font__white-color);
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: 2px;
      background-color: var(--secundary__color);
      &:hover{
        opacity: .8;
      }
    }
    &--error{
      border: 3px solid var(--primary__color);
      background: url('../images/icon-error.svg') no-repeat 95% center;
      &::placeholder{
        color: var(--primary__color);
      }
    }
    &-text-error{
      font-size: .8rem;
      text-align: right;
      font-style: italic;
      color: var(--primary__color);
      margin-top: -.5em;
      margin-bottom: 1.25em;
      
    }
  }
  &__footer{
    color: var(--font-secundary__color);
    font-size: .75rem;
    text-align: center;
    &--link{
      color: var(--primary__color);
      font-weight: 700;
      cursor: pointer;
    }
  }
}



%box-shadow {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0.75rem;
  border-radius: $border-radius;
  background-color: rgba(0, 0, 0, 0.15);
}

@media  (max-width: 1200px) {
  body{
    flex-direction: column;
    margin: 0;
  }
  .context, .main{
    width: 90%;
    min-width: 200px;
    
  }
}

.theme-switcher{
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 25px;
  width: 50px;
  background-color: var(--font-main__color);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  &::after{
    position: absolute;
    left: 2px;
    right: unset;
    top : 2px;
    content: "";
    display: block;
    background-color: var(--third__color);
    height: 21px;
    width: 21px;
    border-radius: 50%;
    transition: .2s;
    body.theme--dark &{
      transform: translateX(25px);
    }
  }
}